// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
ul.flat {
  margin: 0;
  padding: 0;
}
ul.flat li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  min-width: 3em;
}
*/
.clickable {
  cursor: pointer;

  &:hover {
    background-color: #d9edf7;
  }
}
