<%= form_for @member do |form| %>
<table class="table table-bordered">
  <tr>
    <th>名前</th>
  </tr>

  <tr>
    <td><%= form.text_field :name %></td>
  </tr>
</table>
<p>
  <%= form.button "Save", class: 'btn btn-sm btn-success' %>
</p>
<% end %>
